.grid-container {
    display: grid;
    grid-gap: 10px;
}

.item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

/* Para uma ou duas colunas, exibir apenas itens pares */
@media screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .item:nth-child(odd) {
        display: none;
    }
}

/* Para telas com largura entre 576px e 768px, exibir todos os itens */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Para telas com largura entre 768px e 1024px, exibir apenas itens ímpares */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .item:nth-child(even) {
        display: none;
    }
}

/* Para telas com largura entre 1024px e 1280px, exibir todos os itens */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Para telas maiores que 1280px, exibir todos os itens */
@media screen and (min-width: 1281px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
}

/* Para seis colunas, itens ímpares ocupam 3 colunas e pares ocupam 1 coluna */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .item:nth-child(odd) {
        grid-column: span 3;
    }
}

/* Para oito colunas, itens pares ocupam 4 colunas e ímpares ocupam 1 coluna */
@media screen and (min-width: 1281px) {
    .item:nth-child(even) {
        grid-column: span 4;
    }
}
