.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    height: 300px;
    background-color: yellow;
    padding: 20px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

/* Para larguras de tela até 1024px */
@media screen and (max-width: 1024px) {
    .grid-container {
        grid-template-areas:
            "p p . ."
            "p p . ."
            ". b b b";
    }

    .black {
        grid-area: p;
    }

    .white {
        grid-area: b;
    }
}

/* Para larguras de tela maiores que 1024px */
@media screen and (min-width: 1025px) {
    .grid-container {
        grid-template-areas:
            "p p p p"
            ". . . ."
            "b b b b";
    }
}
